#footer {
  width: 100vw;
  background-color: black;
  color: #ffffff;
}

@media screen and (max-width: 1920px) {
  #footer {
    height: 6vw;
  }
}
@media screen and (max-width: 1220px) {
  #footer {
    height: 10vw;
  }
}
@media screen and (max-width: 880px) {
  #footer {
    height: 15vw;
  }
}
@media screen and (max-width: 700px) {
  #footer {
    height: 18vw;
  }
}
@media screen and (max-width: 500px) {
  #footer {
    height: 26vw;
  }
}
